@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<br />
Register? @Html.ActionLink("Signup Now!", "SignUp", "Account")<br/>
Sing In @Html.ActionLink("Sign In","Login","Account")

